<!-- BOX INIT -->
            <div class="box">
                <div class="header clearfix">
                    <h2 class="pb-10 float-left">Popular this week</h2>
                </div>

                <div class="list">


                    <div class="item-list clearfix">
                        <div class="item-media float-left">
                            <img src="http://lorempixel.com/80/80/technics/1" class="centered" />
                        </div>
                        <div class="item-content">
                            <h3>GBoard by Google</h3>
                            <p>Google Search, GIFs, emojis & more - right from your keyboard</p>
                            <div class="item-actions">
                                <div class="chip-sm">
                                    <span class="chip-name">1186</span>
                                </div>
                                <div class="chip-sm">
                                    <span class="chip-name">26</span>
                                </div>
                                <div class="float-right">
                                    <div class="chip-sm">
                                        <span class="chip-name">IPHONE</span>
                                    </div> +2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-list clearfix">
                        <div class="item-media float-left">
                            <img src="http://lorempixel.com/80/80/technics/2" class="centered" />
                        </div>
                        <div class="item-content">
                            <h3>GBoard by Google</h3>
                            <p>Google Search, GIFs, emojis & more - right from your keyboard</p>
                            <div class="item-actions">
                                <div class="chip-sm">
                                    <span class="chip-name">1186</span>
                                </div>
                                <div class="chip-sm">
                                    <span class="chip-name">26</span>
                                </div>
                                <div class="float-right">
                                    <div class="chip-sm">
                                        <span class="chip-name">IPHONE</span>
                                    </div> +2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-list clearfix">
                        <div class="item-media float-left">
                            <img src="http://lorempixel.com/80/80/technics/3" class="centered" />
                        </div>
                        <div class="item-content">
                            <h3>GBoard by Google</h3>
                            <p>Google Search, GIFs, emojis & more - right from your keyboard</p>
                            <div class="item-actions">
                                <div class="chip-sm">
                                    <span class="chip-name">1186</span>
                                </div>
                                <div class="chip-sm">
                                    <span class="chip-name">26</span>
                                </div>
                                <div class="float-right">
                                    <div class="chip-sm">
                                        <span class="chip-name">IPHONE</span>
                                    </div> +2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-list clearfix">
                        <div class="item-media float-left">
                            <img src="http://lorempixel.com/80/80/technics/4" class="centered" />
                        </div>
                        <div class="item-content">
                            <h3>GBoard by Google</h3>
                            <p>Google Search, GIFs, emojis & more - right from your keyboard</p>
                            <div class="item-actions">
                                <div class="chip-sm">
                                    <span class="chip-name">1186</span>
                                </div>
                                <div class="chip-sm">
                                    <span class="chip-name">26</span>
                                </div>
                                <div class="float-right">
                                    <div class="chip-sm">
                                        <span class="chip-name">IPHONE</span>
                                    </div> +2
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="load-more text-center pt-10">
                    <a href="">LOAD MORE</a>
                </div>
            </div>
            <!-- BOX END -->