<div class="container grid-960">
    <div class="float-left">
        <a href="" class="float-left"><img src="/images/logo.png" /></a>
        <form class="float-left ml-10">
            <div class="form-group">
                <input class="form-input" type="text" placeholder="Search..." />
            </div>
        </form>
    </div>
    <div class="float-right profile-info" ng-click="toggleMenu()">
        <figure class="avatar avatar-md">
            <img src="http://lorempixel.com/48/48/people/9/" />
        </figure>
        <ul class="menu" id="menu">
            <!-- menu header -->
            <li class="menu-header">
                <span class="menu-header-text">
            Go to
        </span>
            </li>
            <li class="menu-item">
                <a href="#">
                    <span class="icon icon-bell"></span> Notifications
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <span class="icon icon-plus"></span> Create post
                </a>
            </li>
            <li class="divider"></li>
            <li class="menu-item">
                <a href="#">
                    <span class="icon icon-cog"></span> Settings
                </a>
            </li>
        </ul>
    </div>
</div>
